doctype html
html
  head
    meta(charset='utf-8')
    title Passeport citoyen - #{username}
    link(rel='stylesheet', href='css/prof.css')
  body
    .header
      .navbar
        img.logoproj(src='images/logo-projet.png', alt='Logo projet', style='border:0')
        .logout-button(style='padding-top:1%; float: right; padding-right:2%')
          form(method='get', action='/logout')
            button(type='submit') Se déconnecter
        h1 Passeport citoyen - Interface élève
        .classe
          ul
            a(href='passeport/6/#{username}') 6e
            a(href='passeport/5/#{username}') 5e
            a(href='passeport/4/#{username}') 4e
            a(href='passeport/3/#{username}') 3e

    .pres(style='padding-left:4%')
      if sessionFlash && sessionFlash.message
        .sessionFlash
          p #{ sessionFlash.message }
      h2 Bienvenue #{username} !
      p
        | Sur cette page, tu peux consulter ton avancée dans le parcours citoyen. Dans l'onglet consacré à chacune de tes années passées au collège, tu pourras voir les modules qui sont proposés et ceux que tu as validé.
    .footer
      a(href='https://gate.wp.telecom-sudparis.eu/projet/parcours-citoyen/', target='_blank', title='https://gate.wp.telecom-sudparis.eu/projet/parcours-citoyen/')
        img.logogate(src='images/logo-gate.png', alt='Logo GATE', style='border:0')
      a(href='https://www.telecom-sudparis.eu/', target='_blank', title='https://www.telecom-sudparis.eu/')
        img.logotsp(src='images/logo-tsp.png', alt='Logo TSP', style='border:0')
