doctype html
html
  head
    meta(charset='utf-8')
    title Modules disponibles en #{annee}ème.
    link(rel='stylesheet', href='../../css/eleve.css')
  body
    .header
      .topnav
        a.active(href='../../')
          img.logoproj(src='../../images/logo-projet.png', alt='Logo projet', style='border:0')
          |      Passeport citoyen - Modules disponibles
        a(href='/gestioneleve/modules') Consulter liste
        .logout-button(style='padding-top:10px; float: right; padding-right:4px')
          form(method='get', action='/logout')
            button(type='submit') Se déconnecter
      .topnav
        a.active(href='../../')
          img.logoproj(src='../../images/logo-projet.png', alt='Logo projet', style='border:0')
          |      Visionner le passeport actuel de l'élève
        a(href='/gestioneleve/#{eleve.nom}/passeport/6') 6e
        a(href='/gestioneleve/#{eleve.nom}/passeport/5') 5e
        a(href='/gestioneleve/#{eleve.nom}/passeport/4') 4e
        a(href='/gestioneleve/#{eleve.nom}/passeport/3') 3e
        .change-button(style='padding-top:10px; float: right; padding-right:4px')
          form(method='get', action='/passeport')
            button(type='submit') Changer d'élève
    .pres
      - each atelier in ateliers
        .modulepv
          p.titre Module : #{atelier[0]}
          p Professeur : #{atelier[2]}
          p #{atelier[1]}
          p Ajouter l'atelier au passeport de l'élève :
          a.active(href='../../')
          p Atelier suivi avec succès en classe de :
          a(href='/gestioneleve/#{eleve.nom}/ajout/#{atelier[3]}/1/6') 6e  
          a(href='/gestioneleve/#{eleve.nom}/ajout/#{atelier[3]}/1/5') 5e  
          a(href='/gestioneleve/#{eleve.nom}/ajout/#{atelier[3]}/1/4') 4e  
          a(href='/gestioneleve/#{eleve.nom}/ajout/#{atelier[3]}/1/3') 3e
          a.active(href='../../')
          p Atelier suivi mais non validé en classe de :
          a(href='/gestioneleve/#{eleve.nom}/ajout/#{atelier[3]}/0/6') 6e  
          a(href='/gestioneleve/#{eleve.nom}/ajout/#{atelier[3]}/0/5') 5e  
          a(href='/gestioneleve/#{eleve.nom}/ajout/#{atelier[3]}/0/4') 4e  
          a(href='/gestioneleve/#{eleve.nom}/ajout/#{atelier[3]}/0/3') 3e

    .footer
      a(href='https://gate.wp.telecom-sudparis.eu/projet/parcours-citoyen/', target='_blank', title='https://gate.wp.telecom-sudparis.eu/projet/parcours-citoyen/')
        img.logogate(src='../../images/logo-gate.png', alt='Logo GATE', style='border:0')
      a(href='https://www.telecom-sudparis.eu/', target='_blank', title='https://www.telecom-sudparis.eu/')
        img.logotsp(src='../../images/logo-tsp.png', alt='Logo TSP', style='border:0')
