doctype html
html
  head
    meta(charset='utf-8')
    title Passeport citoyen
    link(rel='stylesheet', href='../../css/prof.css')
  body
    .header
      li
        img.logoproj(src='../../images/logo-projet.png', alt='Logo projet', style='border:0')
        .logout-button(style='padding-top:1%; float: right; padding-right:2%')
          form(method='get', action='/logout')
            button(type='submit') Se déconnecter
        h1 Passeport citoyen - Interface élève

      .navbar
        ul
          a(href='/passeport/6/#{username}') 6e
          a(href='/passeport/5/#{username}') 5e
          a(href='/passeport/4/#{username}') 4e
          a(href='/passeport/3/#{username}') 3e
          a(href='/passeport/#{username}') Récapitulatif


    .pres
      if sessionFlash && sessionFlash.message
        .sessionFlash
          p #{ sessionFlash.message }
      h2 Bienvenue #{username} !
      p
        | Cette page est un récapitulatif de l'ensemble des modules que tu as suivi jusqu'à présent dans le cadre du Parcours Citoyen.
      - each atelier in ateliers
        if atelier[2] == 1
          .modulev
            p.titre Module : #{atelier[0]}
            p Atelier suivi en classe de #{atelier[4]}ème
            p Professeur : #{atelier[3]}
            p #{atelier[1]}
            p Statut du module : validé
        else
          .modulepv
            p.titre Module : #{atelier[0]}
            p Atelier suivi en classe de #{atelier[4]}ème
            p Professeur : #{atelier[3]}
            p #{atelier[1]}
            p Statut du module : Non validé
    .footer

