doctype html
html
  head
    meta(charset='utf-8')
    title Passeport citoyen - #{annee}ème.
    link(rel='stylesheet', href='../../../css/prof.css')
  body
    .header
      li
        img.logoproj(src='../../../images/logo-projet.png', alt='Logo projet', style='border:0')
        .logout-button(style='padding-top:1%; float: right; padding-right:2%')
          form(method='get', action='/logout')
            button(type='submit') Se déconnecter
        .change-button(style='padding-top:1%; float: right; padding-right:2%')
          form(method='get', action='/passeport')
            button(type='submit') Changer d'élève
        h1 Passeport Citoyen

      .navbar
        ul
          a(href='/gestioneleve/modules') Modules disponibles - Consulter liste

      .navbar
        ul
          h1 Visionner le passeport actuel de l'élève
          a(href='/gestioneleve/#{eleve.nom}/passeport/6') 6e
          a(href='/gestioneleve/#{eleve.nom}/passeport/5') 5e
          a(href='/gestioneleve/#{eleve.nom}/passeport/4') 4e
          a(href='/gestioneleve/#{eleve.nom}/passeport/3') 3e
    
    .pres
      if sessionFlash && sessionFlash.message
        .sessionFlash
          p #{ sessionFlash.message }
      h2 Bienvenue #{username} !
      p
        |  Ci-dessous se trouvent les différents modules suivis par #{eleve.prenom} en classe de #{annee}ème.
      - each atelier in ateliers
        if atelier[2] == 1
          .modulev
            p.titre Module : #{atelier[0]}
            p Professeur : #{atelier[3]}
            p #{atelier[1]}
            p Statut du module : validé
            .change-button(style='margin-left: auto; margin-right: auto')
              form(method='get', action='/gestioneleve/#{eleve.nom}/suppression/#{atelier[4]}')
                button(type='submit') Supprimer ce module du passeport de l'élève
        else
          .modulepv
            p.titre Module : #{atelier[0]}
            p Professeur : #{atelier[3]}
            p #{atelier[1]}
            p Statut du module : Non validé
            .change-button(style='margin-left: auto; margin-right: auto')
              form(method='get', action='/gestioneleve/#{eleve.nom}/suppression/#{atelier[4]}')
                button(type='submit') Supprimer ce module du passeport de l'élève
    .footer
